{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5"> 
    <h2>Привет, меня зовут Вахрушев Артем, мне 30 лет.</h2>
    <div class="container py-3"> 
        <ul>  
            <h4>Семья:</h4>
            <li>Женат, воспитываю сына (3 года) и дочку (1 год)</li>
                <br>
            <h4>Личные качества:</h4>
            <li>Быстрая обучаемость, ответственность, упорство, коммуникабельность, целеустремлённость </li>
                <br>
            <h4>Хобби:</h4>
            <li>Железки (ПК), решение задачек по программированию (Codewars и тп), компьютерные игры, медитация и йога </li>
                <br>
            <h4>Опыт работы:</h4>                  
            <li>ООО «Прис-информ» (2013 – 2014 гг.)</li>
            <li>ООО «СК-ТРОН» (2014 – 2022 гг.) </li>            
            Работал инженером-проектировщиком СЗЗ и ЗОЗ, делал расчёты электромагнитного излучения в программах CalcSZZ, Excel, Visio, осуществлял взаимодействие с клиентами (МегаФон, Билайн, МТС, Т2 Мобайл, РТРС), писал сопроводительную документацию для получения санитарных экспертиз, стаж 9 лет. 
            Имею опыт создания простых сайтов на Django: сайт с каруселью, услугами, ценами и Web-blog с регистрацией пользователей       
        </ul>  
    </div>
            <br>
        <a href="https://github.com/artyom-vah">*** Ссылка на мой гит и мои работы! ***</a>
        </p>
</div>
{% endblock %} 