{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}

  <div class="container py-5"> 
       
        {% comment %}
            Боковой блок со списком технологий 
            Займет всю ширину блока на мобильном
            и 25% при размерах экрана ≥768px
        {% endcomment %}        
            <article>   
                <ul> 
                    <h4>Знания и умения:</h4>
                    <li>Python (средний / продвинутый)</li>
                    <li>ООП (на базовом уровне)</li>
                    <li>Django (venv, models, templates, adminка и ее кастомизация, shell)</li>
                    <li>HTML, JiNja (основные шаблоны в темплейтах Django)</li>
                    <li>Bash, ComEMU (Командная строка)</li>
                    <li>SQL (PostgreSQL, Sqlite на уровне простых и средних запросов)</li>
                    <li>PyAutoGui & TkInter (Делал автокликеры по работе)</li>
                    <li>GitHab (Комитить и пушить умею)</li>
                    <li>Знание основных алгоритмов</li>
                    <li>Английский A2 - B1 (Чтение технической документации)</li>
                        <br>
                    <h4>ОС и среды разработки:</h4>
                    <li>Windows 10 / Linux (Manjaro XFCE)</li>
                    <li>IDLE (python 3.10), PyCharm, VSCode</li>
                        <br>
                    <h4>Образование:</h4>
                    <li>Среднее профессиональное образование - УРТК им. А.С. Попова, специальность «Прикладная информатика в экономике (по отраслям)» (2009 – 2013 гг.)</li>
                    <li>Высшее образование - УГГУ, специальность  «Информатика и вычислительная техника», Бакалавр - 09.03.01 (2013 – 2017 гг.)</li>
                        <br> 
                    <h4>Прошёл курсы:</h4>
                    <li>[Udemy] Python + Django с нуля до коммерческих приложений (2021)</li>
                    <li>[Geekbrains] Алгоритмы и структуры данных на Python (2020)</li>
                    <li>[itproger] Полное изучение Python (TKinter/ Django)</li>
                    <li>[Udemy] SQL Практический курс SQL для всех (2022), БД northwind </li>
                    <li>[Udemy] Python ООП - С нуля до Профи (2021) </li>
                    <li>на данный момент прохожу курс «Python-разработчик» от Яндекс-практикума («Цифровые профессии» от Университета 2035)</li>
                </article> 
        
        {% comment %}
            Статья  
            Займет всю ширину блока на мобильном
            и 75% при размерах экрана ≥768px
        {% endcomment %}
        <br>
        <br>
        <article class="col-12 col-md-9">
            <p>Текст страницы "Технологии"</p>
        </article>
  </div>

{% endblock %} 