{% extends 'base.html' %}
{% block title %}{{ group.title }}{% endblock %}
{% block content %}  
{% load thumbnail %}
  <div class="container py-5"> 
    <h1>{{ group.title }} <h4><i> Всего постов в группе: {{ posts.count }}</i></h4></h1>   
      <p>{{ group.description }}</p>
        {% for post in page_obj %}        
          <article>
            <ul>
              <li>Автор: {{ post.author.get_full_name }}</li>
              <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
            </ul>    
              {% thumbnail post.image "800x350" as im %}
                <img style="margin:{{ im|margin:"700x350" }}" src="{{ im.url }}" height="{{ im.y }}" float="right">
              {% endthumbnail %}   
              <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
          </article>  
        {% if post.group %}
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %}  
        {% if not forloop.last %}<hr>{% endif %}    
      {% endfor %}  
    {% include 'posts/includes/paginator.html' %}    
  </div>
{% endblock %}
